/***** 
COLOR CHEAT SHEET 
https://coolors.co/003049-d62828-f77f00-fcbf49-eae2b7
https://coolors.co/
d62828-Red 
000814-Black
f8f9fa-White
495057-Gray 

*****/


/********************/
/******* FONTS ******/
/********************/
body, p {
    font-family: "Oswald", sans-serif
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Protest Guerrilla", sans-serif;
}



/********************/
/******* HERO ******/
/********************/
header.masthead {
    background-image: url('../img/bg.jpg');
}

.masthead h1 {
    color: #d62828; 
    text-shadow: 2px 2px 5px white; 
    font-size: 90px !important; 
}

.masthead p { 
    color: white;
    text-shadow: 1px 1px 5px black; 
    font-size: 30px !important;
}

/********************/
/******* Colors ******/
/********************/
.btn-primary {
    background: #d62828;
    border: 2px solid #f8f9fa;
}
.btn-primary:hover {
    background: #000814;
    border: 2px solid #f8f9fa;
}
.text-black {
    color: white !important;
} 
hr.divider {
    background-color: #d62828; 
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: #495057 !important;
}
.text-primary {
    color:#495057 !important
}

/********************/
/******* Nav ******/
/********************/
#mainNav.navbar-shrink {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #d62828; 
}

#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link,
#mainNav.navbar-shrink .navbar-brand {
    color: #f8f9fa;
    }
    #mainNav .navbar-nav .nav-item .nav-link.active {
        color: #495057 !important;
        
        #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover,
        #mainNav.navbar-shrink .navbar-brand:hover
        color: #495057; 
           